*{
  box-sizing: border-box;
}

body {
  /*display: flex;
  flex-direction: column;
  justify-content: center
  align-items: center;*/
  background-color: #F2F6F6;

  .app {
    width: 100vw;
    height: auto;
    background-color: #FCD2AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactForm {
      margin: 25px;
      width: 60vw;
      height: auto;
      background-color: #A0C1C1;
      input {
        font-size: 18px;
        font-weight: 400;
        color: #699797;
        background-color: #FCD2AF;
      }
      button {
        font-size: 18px;
        font-weight: 400;
        color: #FCD2AF;
        background-color: #699797;
        width: 200px;
        height: 50px;
        text-align: center;
      }
    }

    .contactsList {
      list-style-type: none;

      .contactItem {
        width: auto;
        height: auto;
        border: 4px solid #2a3c3c;
        border-radius: 5px;
        background-color: #faab6b;
        margin: 10px;
        .contactLabel  {
          margin-left: 15px;
          font-size: 24px;
          font-weight: 600;
          color: #2a3c3c;
          span {
            font-size: 24px;
            font-weight: 300;
            color: #547878;
          }
        }

        .contactEmail {
          margin-left: 10px;
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 600;
          color: #dd6808;
        }
      }



    }
  }
}
